$red: #de5b28;
$darkgray: #333;
$lightgray: #c5d4cd;
$lightergray: rgb(215, 232, 226);
$mediumgray: #8e9994;
$bluegray: #2d3e50;
$bluegraycontrast: #aaa;
$blue: rgba(113, 140, 135, 0.2);

// TODO: use Compass
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 */
.pure-g, .pure-g [class*="pure-u"] {
  font-family: 'Raleway';
  color: $darkgray;
}

h1 {
  color: $red;
  font-size: 3.9em;
  font-family: 'Raleway';
}

a {
  color: $red;
  // text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

li {
  list-style: none;
}

p {
  line-height: 1.5em;
}

section {
  padding-bottom: 3em;
}

strong {
  color: $red;
}
/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */

.is-center {
  text-align: center;
}

.pure-g {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

/*
 * -- SPLASH STYLES --
 * Where it appears the name & picture
 */

.splash-container {
  background: $lightgray;
  border-bottom: 0.625em solid $red;
}

.splash {
  text-align: center;
  width: 80%;
  margin: auto;

  h1 {
    color: $darkgray;

  }

  img {
    height: 200px;
    border-radius: 100px;
    margin: 3em 0 0 0;
  }

  p {
    font-size: 1.4em;
  }
}

/*
 * -- RIBBON STYLES --
 * Where the contrast background appears
 */

.ribbon {
  background-color: $darkgray;
  .pure-g, .pure-g [class*="pure-u"] {
    color: white;
    // font-family: 'Nunito';
    font-weight: 300;
  }

  p {
    margin: 0 0 1em 0;
  }
}

/*
 * -- INTERESTS STYLES --
 * 
 */
$interest_width: 100%;
$interest_height: 13.19em;

#interests {
  background-color: $lightgray;
}

.interest {
  background-color: $lightergray;
  position: relative;
  width: $interest_width;
  height: $interest_height;
  overflow: hidden;
  margin: 0 0 2em 0;

  h2 {
    color: $mediumgray;
    text-transform: uppercase;
    font-weight: 800;

    letter-spacing: -0.024em;
    font-size: 5.6em;
    // alternative
    // font-size: 5.78em;
    // letter-spacing: -0.0625em;
    line-height: 0.8em;
    margin: 0;

    br {
      line-height: 0;
      margin: 0;
      padding: 0;
    }
  }

  &:hover .title {
    h2 {
      color: $darkgray;
      -webkit-transition: color 500ms;
    }
    -webkit-transform: translateX(-98%);
    -webkit-transition: -webkit-transform 300ms;
  }

  .title {
    position: absolute;
    top: 0;
    width: $interest_width;
    height: $interest_height;

    h2 {
      color: $mediumgray;
      -webkit-transition: color 500ms;
    }
    -webkit-transition: -webkit-transform 300ms;
  }

  &:hover .content {
    background-color: $lightergray;
    -webkit-transform: skew(330deg) translateX(10.5%) translateY(-0.625em);
    -webkit-transition: -webkit-transform 300ms;
  }

  .content {
    overflow: hidden;
    border-left: solid 0.625em $red;
    position: relative;
    height: $interest_height * 1.10;
    -webkit-transform: skew(330deg) translateX(120%) translateY(-0.625em);
    -webkit-transition: -webkit-transform 300ms;
  }

  &:hover .info {
    -webkit-transform: skew(-330deg);
    padding: 1.25em 0 0 1.25em;
  }
}

#skills {
  h2 {
    color: $red;
    font-weight: normal;
  }
}
