/*
 * MOBILE
 */

@media (max-width: 37.5em) {
  #aboutme h1 {
    font-size: 50%;
  }

  #interests {
    font-size: 50%;
  }
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 */
@media (min-width: 48em) {
  /* We increase the body font size */
  body {
    font-size: 16px;
  }

  /* We hide the avatar */
  .splash {
    width: 90%;
    img {
      visibility: hidden;
    }
  }

  /* We use background image */
  .splash-container {
    /* TODO: use background */
    background-image: image-url('me.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;

    background-size: cover;
    height: 500px;

    h1 {
      font-size: 3.9em;
      line-height: 1em;
      padding-bottom: 0em;
    }

    p {
      font-size: 1.4em;
      // max-width: 18em;
      font-weight: 400;
      line-height: 1.2em;
      padding-left: 5px;
    }
  }

  /* Text shouldn't be too wide */
  .splash .text {
    max-width: 400px;
    margin: auto;
  }

  /* We remove the border-separator assigned to .l-box-lrg */
  .l-box-lrg {
    border: none;
  }

  /* about.me text in two columns */
  .ribbon .text {
    @include column-count(2);
    @include column-gap(40px);
  }

  .interest {
    margin: 2em;
  }

  #interests {
    font-size: 65%;
  }
}

@media (min-width: 50em) {
  .splash-container h1 {
    padding-bottom: 0.5em;
  }
  #interests {
    font-size: 71%;
  }
}

@media (min-width: 60em) {
  #interests {
    font-size: 85%;
  }
}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 */
@media (min-width: 78em) {
  #interests {
    font-size: 110%;
  }
  /* We increase the header font size even more */
  .splash-head {
    font-size: 300%;
  }
}
